div{
  height: 20vh;
  width: 90%;
background-color: green;}
.clase1{
  color:red;
  background-color: cornflowerblue;
}
.clase2{
  color:rgb(0, 140, 255);
  background-color: rgb(121, 124, 109);
}
.clase3{
  color:rgb(255, 217, 0);
  background-color: rgb(237, 100, 207);
}
.clase4{
  color:green;
  background-color: cornflowerblue;
}
